.DS_Store
.env
.vscode/
/keypairs

/worktrees

# Rust
**/target/
**/coverage/
**/generated/

# Javascript / Typescript
**/node_modules/
**/dist/

# AI
.claude/

# Solana Test Validator
**/test-ledger
.runbook-logs/*

# Local
.local/

# CU tracking
.cus/

# Keyfiles
.keypairs/
